<!DOCTYPE html>
<html>
<head></head>
<body>
    <div class="snip" th:fragment="snip (snip)">
        <div class="snip-author" th:object="${snip.author}">
            <a th:href="@{'/@/' + *{username}}">
                <span class="snip-author-name" th:text="*{realName}"></span>
                <span class="snip-author-username" th:text="'@' + *{username}"></span>
            </a>
        </div>
        <div th:replace="fragments/video :: video (${snip.video})"></div>
    </div>
</body>
</html>
