<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet"
          href="https://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css" />
    <link rel="stylesheet"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}" />
</head>
<body>
    <main class="container">
        <form th:fragment="editor (post_to)"
              class="video-editor row"
              data-hook="video-editor"
              th:action="@{${post_to}}"
              method="post">
            <input type="hidden" name="video_id" data-hook="video-editor-video-id" />
            <aside class="video-search col-md-6">
                <div class="form-group video-search-query">
                    <input type="text"
                           class="form-control"
                           placeholder="Search Videos" />
                </div>
                <div class="video-search-loading">
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
                <ul class="video-search-results media-list">
                    <li class="media video-search-result" id="demo-result" th:remove="all">
                        <div class="media-left">
                            <img class="media-object"
                                 alt="Thumbnail"
                                 style="max-height: 100px"
                                 src="https://i.ytimg.com/vi/pT68FS3YbQ4/hqdefault.jpg" />
                        </div>
                        <div class="media-body">
                            <div style="max-height: 100px; overflow: hidden">
                                <h4 class="media-heading">The Strokes - You Only Live Once</h4>
                                <p>
                                    The Strokes' official music video for 'You Only Live Once'. Click to listen to The Strokes on Spotify: http://smarturl.it/StrokesRepSpot?IQi<br />
                                    As featured on First Impressions Of Earth. Click to buy the track or album via iTunes: http://smarturl.it/StrokesYoloITunes?
                                    Google Play: http://smarturl.it/StrokesYoloPlay?IQ
                                    Amazon: http://smarturl.it/StrokesYoloAmz?IQi
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </aside>
            <div class="snip-video video-editing col-md-6">
                <div class="snip-video-editing">
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="embed-responsive-item" data-hook="video-editor-video">
                            <img class="snip-video-placeholder"
                                 src="https://i.ytimg.com/vi/LHpIvq2Lf_E/sddefault.jpg"
                                 alt="Video" />
                        </div>
                    </div>
                    <div class="snip-video-timeline">
                        <div class="snip-video-timeline-snippet"></div>
                    </div>
                </div>
                <div class="snip-duration row-fluid">
                    <div class="col-sm-4 form-group snip-duration-field">
                        <label class="control-label" for="snip-video-duration-start">Start</label>
                        <input id="snip-video-duration-start"
                               name="start_seconds"
                               data-hook="video-editor-start"
                               class="form-control"
                               type="text"
                               value="0:00" />
                    </div>
                    <div class="col-sm-4 form-group snip-duration-field">
                        <label class="control-label" for="snip-video-duration-end">End</label>
                        <input id="snip-video-duration-end"
                               name="end_seconds"
                               data-hook="video-editor-end"
                               class="form-control"
                               type="text"
                               value="0:10"
                               readonly="" />
                    </div>
                    <div class="col-sm-4 form-group">
                        <button class="btn btn-primary btn-raised" type="submit">
                            Publish
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <script src="../../static/js/bundle.js"></script>
    <script>
        jQuery('#demo-result').data('video', {
            id: 'ty1UOeUAWJM',
            title: 'The Strokes - You Only Live Once',
            thumbnail: 'https://i.ytimg.com/vi/pT68FS3YbQ4/hqdefault.jpg',
            description: "The Strokes' official music video for 'You Only Live Once'. Click to listen to The Strokes on Spotify: http://smarturl.it/StrokesRepSpot?IQi\nAs featured on First Impressions Of Earth. Click to buy the track or album via iTunes: http://smarturl.it/StrokesYoloITunes?\nGoogle Play: http://smarturl.it/StrokesYoloPlay?IQ\nAmazon: http://smarturl.it/StrokesYoloAmz?IQi"
        })
    </script>
</body>
</html>
