body { padding-top: 70px }

.navbar .navbar-form {
    margin: 2px;
}

.video-search-query {
    margin-top: 0;
}
.video-search-results {
    overflow-y: scroll;
}
.video-search-loading {
    display: none;
}
.video-search-loading.is-visible {
    display: block;
}

.video-search-result {
    cursor: pointer;
}
.video-search-result.is-selected {
    background: #009688;
    color: #fff;
}

.snip-video-editing {
    position: relative;
}
.snip-video-timeline {
    position: absolute;
    height: 5px;
    width: 100%;
    margin-top: -5px;
    background: #009688;
}
.snip-video-timeline-snippet {
    background: #fff;
    width: 10px;
    height: 100%;
    cursor: move;
    margin-left: 43%;
}
.snip-duration-field {
    margin-top: 0;
}
