<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head (${user.realName})"></head>
<body>
    <nav th:replace="layout :: navigation"></nav>
    <main class="container-fluid">
        <aside class="col-sm-3 profile-info">
            <h2 th:text="${user.realName}"></h2>
            <span th:text="'@' + ${user.username}"></span>
            <div class="profile-info-bio" th:if="${bio} != null">
                <div th:replace="fragments/video :: video (${bio})"></div>
            </div>
        </aside>
        <div class="col-sm-9">
            <th:block th:each="snip : ${snips}">
                <div th:replace="fragments/snip :: snip (${snip})"></div>
            </th:block>
        </div>
    </main>

    <th:block th:replace="layout :: scripts"></th:block>
</body>
</html>
