<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head (${user.realName})"></head>
<body>
<nav th:replace="layout :: navigation"></nav>
<main class="container-fluid">
    <aside class="col-sm-3 profile-info">
        <h2 th:text="${user.realName}"></h2>
        <span th:text="'@' + ${user.username}"></span>
        <div class="profile-info-bio" th:if="${bio} != null">
            <div th:replace="fragments/video :: video (${bio})"></div>
        </div>
    </aside>
    <div class="col-sm-9">
        <div class="row"><h1>People you Watch:</h1></div>
        <div class="list-group">
            <div class="col-sm-3" th:each="user : ${watches}">
                <div class="list-group-item">
                    <div class="row-picture">
                        <img class="circle" src="/img/snip.jpg}"
                            th:src="${user.getBio().isPresent()}?
                            'https://i.ytimg.com/vi/' + ${user.getBio().get().video.videoId} + '/sddefault.jpg':
                            '/img/snip.jpg'"   alt="icon" />

                    </div>
                    <div class="row-content">
                        <h4 class="list-group-item-heading" th:text="${user.username}"></h4>
                    </div>
                </div>
            <div class="list-group-separator"></div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/youtube-embeds.js}"></script>
</body>
</html>
